
{% extends "base.html" %}

{% block title %}Список студентов{% endblock %}

{% block content %}
    <h1>Список студентов</h1>
    <ul>
        {% for student in students %}
            <li>
                <strong>Имя:</strong> {{ student.name }}<br>
                <strong>Пол:</strong> {{ student.gender }}<br>
                <strong>Возраст:</strong> {{ student.age }}<br>
                <strong>Цвет волос:</strong> {{ student.hair_color }}<br>
                <strong>Цвет глаз:</strong> {{ student.eye_color }}<br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}